#project config
CONFIG_DICM_TARGET_INVENTILATE_INV_3=y

CONFIG_DICM_TARGET_CUSTOM_H=y
CONFIG_DICM_TARGET_CUSTOM_FILE_H="local_inventilate_inv_3.h"

# partition table
#CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../../../configuration/partitions.csv"
